@model IEnumerable<Nadin.Application.Bank.Models.BankDto>

@{
	Layout = "";
}

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.InputFee)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.OutputFee)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.InputFee)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.OutputFee)
				</td>
				<td>
					<a class="btn-link" onclick="chooseBank(this)" data-bank-id="@item.Id" data-from-id="@ViewBag.FromId">Choose</a>
				</td>
			</tr>
		}
	</tbody>
</table>